# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode - user settings
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata.backup

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/
